// Configuration for NIH TREK's SGE workload management platform

executor {
    name = 'sge'

    // Set perJobMemLimit to true. See:
    // * https://github.com/nextflow-io/nextflow/issues/123
    // * https://gitter.im/nextflow-io/nextflow/archives/2018/02/09
    perJobMemLimit = true
} // end executor

singularity {
    enabled     = true
    autoMounts  = true
    // USER should set this via NXF_SINGULARITY_CACHEDIR
    // cacheDir = '/lustre/scratch118/humgen/resources/containers/'
    runOptions = '--dns 172.18.255.1,172.18.255.2,172.18.255.3'
    envWhitelist = 'HOSTNAME,SSH_CONNECTION,SSH_CLIENT,CVS_RSH,http_proxy,https_proxy,HTTP_PROXY'
}

process {
    executor = 'sge'

    // SGE users will need to edit the below parameters to fit their platform
    queueSize = 1000
    killBatchSize = 1000
    clusterOptions = { "-l h_vmem="+task.memory.toMega()+"M" }
    penv = "make-dedicated"

    withLabel: gpu {
        clusterOptions = { "-l h_vmem="+task.memory.toMega()+"M,gpu=1 -P 'gpu_testing'" }
        // containerOptions = {
        //     workflow.containerEngine == "singularity" ? '--nv':
        //     ( workflow.containerEngine == "docker" ? '--gpus all': null )
        // }
    }
} // end process
