// Configuration for Sun Grid Engine (SGE) workload management platform

executor {
    name = 'sge'

    // Set perJobMemLimit to true. See:
    // * https://github.com/nextflow-io/nextflow/issues/123
    // * https://gitter.im/nextflow-io/nextflow/archives/2018/02/09
    perJobMemLimit = true
} // end executor

process {
    executor = 'sge'

    ////////////////////////////////////////////////////////////////
    // START BASE CONFIGS
    // error strategy
    //errorStrategy = 'retry'
    errorStrategy = 'terminate'
    maxRetries = 2

    clusterOptions = { "-l h_vmem="+task.memory.toMega()+"M" }

    // basic resources
    memory = 15.GB
    //time = { 20.m * task.attempt }

    // basic output settings
    publish_mode = "symlink" // symlink or copy

    // process-specific resources
    withName: run_diffxpy {
        memory = 150.GB
        //cpus = 1
    }
    // END BASE CONFIGS
    ////////////////////////////////////////////////////////////////

    // sge users will need to edit the below parameters to fit their platform
    // queue = 'normal'
    queueSize = 1000
    killBatchSize = 1000
    // native configuration options
    //clusterOptions = { "-R \"select[mem>${task.memory.toMega()}]\"" }
    //clusterOptions = { "-R \"span[hosts=1]\"" }

    // specific settings for processes with specific labels such as
    // big_mem, short, long
    //withLabel: big_mem {
    //    cpus = 16
    //    memory = 64.GB
    //    queue = 'hugemem'
    //}
    withLabel: gpu {
        // cpus = 1
        // need to use trek non-standard queue
        clusterOptions = { "-l h_vmem="+task.memory.toMega()+"M,gpu=1 -P 'gpu_testing'" }
    }
} // end process
