nextflowVersion = '>=20.01.0'

// Set nextflow configuration profiles
profiles {
    local {
        includeConfig 'conf/base.config'
    }

    lsf {
        includeConfig 'conf/base.config'
        includeConfig 'conf/lsf.config'
    }

    sge-nih_trek {
        includeConfig 'conf/base.config'
        includeConfig 'conf/sge-nih_trek.config'
    }

    local_singularity {
        //TODO
        //includeConfig 'conf/base.config'
        //includeConfig 'conf/singularity.config'
    }

    lsf_singularity {
        //TODO
        //includeConfig 'conf/base.config'
        //includeConfig 'conf/singularity.config'
        //includeConfig 'conf/lsf.config'
    }
} // end profiles
