nextflowVersion = '>=20.01.0'

// Set nextflow configuration profiles
profiles {
    local {
        includeConfig 'conf/base.config'
    }

    lsf {
        includeConfig 'conf/base.config'
        includeConfig 'conf/lsf.config'
    }

    sge_nih_trek {
        includeConfig 'conf/base.config'
        includeConfig 'conf/sge-nih_trek.config'
    }

} // end profiles
