// General resource configuration applicable to all profiles

process {
    // error strategy
    //errorStrategy = 'retry'
    errorStrategy = 'terminate'
    maxRetries = 2

    // basic resources
    cpus = 1
    memory = 15.GB
    //time = { 20.m * task.attempt }

    // basic output settings
    publish_mode = "symlink" // symlink or copy

    // process-specific resources
    //withName: cluster_validate_resolution_sklearn {
    //    memory = { 40.GB * task.attempt }
    //    cpus = { 8 * task.attempt }
    //}
    // Tensorflow wants to use all available memory on a GPU, so make sure we
    // request lots of memory. Most nodes have 754.5G on Sanger farm, so
    // request ~1/2.
    withName: cellbender__remove_background {
        memory = 370.GB
        //memory = 150.GB
        cpus = 1
    }
    }
} // end process

timeline {
    enabled = true
}
