// General resource configuration applicable to all profiles

process {
    // error strategy
    //errorStrategy = 'retry'
    errorStrategy = 'terminate'
    maxRetries = 2

    // basic resources
    cpus = 1
    memory = 15.GB
    //time = { 20.m * task.attempt }

    // basic output settings
    publish_mode = "symlink" // symlink or copy

    // process-specific resources
    withName: cellbender__rb__get_input_cells {
        memory = { 15.GB * task.attempt }
        //cpus = { 8 * task.attempt }
    }
    withName: cellbender__remove_background {
        //memory = 370.GB
        memory = { 85.GB * task.attempt }
        cpus = 1
    }

} // end process

timeline {
    enabled = true
}
