// Configuration for NIH TREK's SGE workload management platform

executor {
    name = 'sge_nih_trek'

    // Set perJobMemLimit to true. See:
    // * https://github.com/nextflow-io/nextflow/issues/123
    // * https://gitter.im/nextflow-io/nextflow/archives/2018/02/09
    perJobMemLimit = true
} // end executor

singularity {
    enabled     = true
    autoMounts  = true
    // USER should set this via NXF_SINGULARITY_CACHEDIR
    // cacheDir = '/lustre/scratch118/humgen/resources/containers/'
    runOptions = '--dns 172.18.255.1,172.18.255.2,172.18.255.3'
    envWhitelist = 'HOSTNAME,SSH_CONNECTION,SSH_CLIENT,CVS_RSH,http_proxy,https_proxy,HTTP_PROXY'
}

process {
    executor = 'sge_nih_trek'

    // basic output settings
    publish_mode = "symlink" // symlink or copy

    // sge_nih_trek users will need to edit the below parameters to fit their platform
    queue = 'normal'
    queueSize = 1000
    killBatchSize = 1000
    // native configuration options
    //clusterOptions = { "-R \"select[mem>${task.memory.toMega()}]\"" }
    //clusterOptions = { "-R \"span[hosts=1]\"" }

    clusterOptions = { "-l h_vmem="+task.memory.toMega()+"M" }

    // error strategy
    //errorStrategy = 'retry'
    errorStrategy = 'terminate'
    maxRetries = 2

    // basic resources
    // cpus = 1
    memory = 15.GB
    //time = { 20.m * task.attempt }

    // process-specific resources
    withName: cellbender__rb__get_input_cells {
        memory = { 30.GB * task.attempt }
        //cpus = { 8 * task.attempt }
    }
    withName: cellbender__remove_background {
        //memory = 370.GB
        memory = { 85.GB * task.attempt }
        //cpus = 1
    }

    withLabel: gpu {
        // cpus = 1
        // maxForks = 1
        clusterOptions = { "-l h_vmem="+task.memory.toMega()+"M,gpu=1 -P 'gpu_testing'" }
        // containerOptions = {
        //     workflow.containerEngine == "singularity" ? '--nv':
        //     ( workflow.containerEngine == "docker" ? '--gpus all': null )
        // }
    }
} // end process

timeline {
    enabled = true
}
