// General resource configuration applicable to all profiles

process {
    // error strategy
    errorStrategy = 'retry'
    //errorStrategy = 'terminate'
    maxRetries = 3

    // basic resources
    cpus = 1
    memory = 15.GB
    //time = { 20.m * task.attempt }

    // process-specific resources
    withName: run_scrublet {
        memory = { 25.GB * task.attempt }
    }
    withName: make_cellmetadata_pipeline_input {
        memory = { 5.GB * task.attempt }
    }
    withName: merge_samples {
        memory = { 20.GB * task.attempt }
    }
    withName: normalize_and_pca {
        memory = { 50.GB * task.attempt }
        cpus = 4
    }
    withName: subset_pcs {
        memory = { 5.GB * task.attempt }
    }
    withName: harmony {
        memory = { 20.GB * task.attempt }
    }
    withName: cluster {
        memory = { 20.GB * task.attempt }
        cpus = 2
    }
    withName: cluster_markers {
        memory = { 15.GB * task.attempt }
        cpus = 2
    }
    withName: convert_seurat {
        memory = { 60.GB * task.attempt }
    }
    withName: umap {
        memory = { 5.GB * task.attempt }
    }
} // end process

timeline {
    enabled = true
}
